<footer>
    <div class="container">
        <div class="row row-footer">
            <a class="footer-content" href="/">
                <img src="/images/logo.png" width="80" height="80" alt="ErrorNotFound logo">
                <div>
                    <h6>ErrorNotFound</h6>
                    
                    <em>Made by group 60</em>
                </div>

                
        
            </a>
        
        </div>
    </div>
</footer>