<div class="container-fluid register-bg">
    <div class="container">
        <div class="row">
            <div class="content-sign sign-up-page">
                <h1>Sign up</h1>
                <div class="info"><p>{{info}}</p></div>
                <form class="signUp" id="formLog" action="/users/signUp" method="post">
                    <input type="text" class="input-text" name="firstname" placeholder="First name">
                    <input type="text" class="input-text" name="lastname" placeholder="Last name">
                    <input type="email" class="input-text" name="email" placeholder="Email">
                    <input type="password" class="input-text" name="password" placeholder="Password">
                    <input type="password" class="input-text last-input" name="password2" placeholder="Confirm password">
                    <br>
                    <input type="submit" value="Sign up">
                </form>
                <br>
            
            </div>
        </div>
    </div>
</div>