<div class="container-fluid log-in">
    <div class="container">
        <div class="row">
            <div class="content-sign">
                <h1>Sign in</h1>
                <div class="info"><p>{{info}}</p></div>
                <form class="login" id="formLog" action="/users/logins" method="post">
                    <input type="email" class="input-text" name="username" placeholder="email">
                    <input type="password" class="input-text" name="password" placeholder="password">
                    <input type="submit" value="Log in">
                </form>
                <br>
                <p class="connection_link">No account ? <a href="/users/register">Click here</a></p>
            
            </div>
        </div>
    </div>
</div>


